@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?b8gcyh');
  src:  url('../fonts/icomoon/icomoon.eot?b8gcyh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?b8gcyh') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?b8gcyh') format('woff'),
    url('../fonts/icomoon/icomoon.svg?b8gcyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-artificial-intelligence:before {
  content: "\e941";
}
.icon-location:before {
  content: "\e93f";
}
.icon-mailbox:before {
  content: "\e940";
}
.icon-add-company:before {
  content: "\e93e";
}
.icon-info:before {
  content: "\e93d";
}
.icon-alarm-clock:before {
  content: "\e900";
}
.icon-angle-bottom:before {
  content: "\e901";
}
.icon-angle-left:before {
  content: "\e902";
}
.icon-angle-right:before {
  content: "\e903";
}
.icon-angle-top:before {
  content: "\e904";
}
.icon-arrow-bottom:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-top:before {
  content: "\e907";
}
.icon-ban:before {
  content: "\e908";
}
.icon-bell:before {
  content: "\e909";
}
.icon-bold:before {
  content: "\e90a";
}
.icon-briefecase:before {
  content: "\e90b";
}
.icon-building-add:before {
  content: "\e90c";
}
.icon-building-alt:before {
  content: "\e90d";
}
.icon-building:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-check-circle:before {
  content: "\e910";
}
.icon-clock:before {
  content: "\e911";
}
.icon-cog:before {
  content: "\e912";
}
.icon-comment:before {
  content: "\e913";
}
.icon-cross:before {
  content: "\e914";
}
.icon-dealflow:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e916";
}
.icon-envelope:before {
  content: "\e917";
}
.icon-equal:before {
  content: "\e918";
}
.icon-exclamation-triangle:before {
  content: "\e919";
}
.icon-eye-slash:before {
  content: "\e91a";
}
.icon-eye:before {
  content: "\e91b";
}
.icon-file-alt:before {
  content: "\e91c";
}
.icon-file-check:before {
  content: "\e91d";
}
.icon-file-user-check:before {
  content: "\e91e";
}
.icon-file-user:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e920";
}
.icon-hand-usd:before {
  content: "\e921";
}
.icon-handshake:before {
  content: "\e922";
}
.icon-instagram:before {
  content: "\e923";
}
.icon-link:before {
  content: "\e924";
}
.icon-linkedin:before {
  content: "\e925";
}
.icon-loader:before {
  content: "\e926";
}
.icon-lock-open:before {
  content: "\e927";
}
.icon-lock:before {
  content: "\e928";
}
.icon-merged-contact:before {
  content: "\e929";
}
.icon-mobile:before {
  content: "\e92a";
}
.icon-paperclip:before {
  content: "\e92b";
}
.icon-pen-circle:before {
  content: "\e92c";
}
.icon-pen:before {
  content: "\e92d";
}
.icon-phone:before {
  content: "\e92e";
}
.icon-pin:before {
  content: "\e92f";
}
.icon-plus:before {
  content: "\e930";
}
.icon-question-circle:before {
  content: "\e931";
}
.icon-rectangle:before {
  content: "\e932";
}
.icon-search-user:before {
  content: "\e933";
}
.icon-search:before {
  content: "\e934";
}
.icon-statistics:before {
  content: "\e935";
}
.icon-th-large:before {
  content: "\e936";
}
.icon-twitter:before {
  content: "\e937";
}
.icon-unlink:before {
  content: "\e938";
}
.icon-unmerged-contact:before {
  content: "\e939";
}
.icon-user-add:before {
  content: "\e93a";
}
.icon-user-import:before {
  content: "\e93b";
}
.icon-user:before {
  content: "\e93c";
}
