@import "variables";

.interaction-form {
  margin-bottom: 20px;

  .loading {
    .loader {
      margin: 60px auto;
    }
  }

  .tab-content {
    padding: 20px;
  }

  .tabbed-panel .nav-tabs li {
     a {
       color: $text-color-lighter;

       i {
         margin-right: 10px;
       }
     }
  }
}

.interactions {
  .card, .card-content {
    height: 100%;
  }

  .interaction {
    margin-bottom: 20px;
  }

  .interaction .card-content {
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
      .interaction-remove {
        display: block;
      }
    }

    .interaction-remove, .interaction-edit {
      color: $text-color-lighter;
      font-size: 18px;
      position: absolute;
      right: 10px;
    }

    .interaction-remove {
      display: none;
      top: 5px
    }

    .interaction-edit {
      bottom: 12px;
    }

    .interaction-head, .interaction-content, .interaction-footer {
      padding: 15px;
    }

    .interaction-head, .interaction-footer {
      padding-right: 30px;
    }

    .interaction-head {
      color: $main-color;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 0;

      span {
        color: $text-color;
        margin-left: 10px;
      }

      i {
        margin-right: 5px;
      }
    }

    .interaction-content {

    }

    .interaction-footer {
      background-color: $body-bg;
      color: $text-color-lighter;
      font-size: 12px;
      margin-top: auto;

      img {
        margin-right: 5px;
      }
    }
  }
}