<div class="select2-custom-element-large">
	<div class="picture">
		<img src="{{ user|picture({'imagineFilter': 'user_contact_thumb_md'}) }}" alt="{{ user.fullName }}" />
	</div>
	<div class="details">
		<div class="element-title">{{ user.fullname }}</div>
		<span class="element-text">{{ user.job }}</span>
	</div>
</div>