<div class="card">
    <div class="card-content">
        <section class="panel">
            <div class="panel-body panel-body">
                <div class="row card-mini">
                    <div class="col-md-12 card-mini-content">
                        <img src="{{ user|picture({'imagineFilter': 'user_contact_thumb_sm'}) }}" alt="{{ user.fullName }}" />
                        <h4>{{ user.fullName }}</h4>
                        <span>{{ user.job }}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
