{% extends "@SAMCommon/side-panel.html.twig" %}

{% block side_panel_body %}
    <div class="error-wrapper">
        <h1>Erreur inconnue</h1>
        <div class="alert alert-danger">Une erreur inconnue est survenue, veuillez réessayez dans quelques minutes.</div>
    </div>
{% endblock %}
