{% extends "@SAMCommon/side-panel.html.twig" %}

{% block side_panel_body %}
    <div class="error-wrapper">
        <h1>Accès refusé</h1>
        <div class="alert alert-danger">L'accès à cette page est interdit.</div>
    </div>
{% endblock %}
